@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #033a80;
    --text-color: #0f0c27;
    --bg-color: #fff;
    --hover-color: #5805ff;

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

body.active{
    --text-color: #fff;
    --bg-color: #0f0c27;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 5px 10%;
    z-index: 1000;
    box-shadow: -3px -3px 7px #ffffff73,2px 2px 5px rgba(94, 104, 121, 0.288);
}

header.shadow{
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

#menu-icon {
    font-size: 24px;
    display: none;
    z-index: 1001;
    color: pointer;
}

.logo {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 400;
}

.navbar a:hover {
    color: var(--hover-color);
}

#darkmode {
    font-size: 22px;
    cursor: pointer;
}

section {
    padding: 40px 10%;
}

.home {
    position: relative;
    display: grid;
    grid-template-columns: 0.2fr 2fr 1fr;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
    width: 100%;
}

.home img {
    width: 130%;
}

.social {
    display: flex;
    flex-direction: column;
}

.social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
}

.social a:hover {
    color: var(--hover-color);
}

.home-text span {
    font-size: medium;
    font-weight: 500;
    
}

.home-text h1 {
    font-size: var(--medium-font);
}

.home-text h2 {
    font-size: 1.1rem;
    font-weight: 400;
}

.home-text p {
    font-size: var(--p-font);
    margin: 0.7rem 0 1.0rem;
    font-weight: 400;
}

.btn {
    padding: 0.6rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: var(--hover-color);
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 30px;
    margin-bottom: 0.3rem;
}

.heading span {
    color: rgb(6, 165, 6);
    font-style: var(--p-font);
}

.about-contant {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 2rem;
    margin-top: 2rem;
}

.about-img img {
    width: 80%;
    border-radius: 0.5rem;
}

.about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
}

.information {
    margin: 1rem 0 2rem;
}

.information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.information .info-box .bx {
    font-size: 22px;
    margin-right: 10px;
}

.information .info-box span {
    font-weight: 400;
}

.skills-contant {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 3.5rem;
}

.skills-img img{
    width: 75%;
    margin-left: 4rem;
}

.bars-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0;
    align-items: center;
}

.bars-box h3,span {
    font-size: 1.1rem;
    font-weight: 500;
}

.light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    background: hsl(260, 100%, 44%, 0.4);
    height: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
}

.percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--main-color);
    height: 0.5rem;
    border-radius: 0.5rem;
}

.python-bar {
    width: 80%;
}

.mysql-bar {
    width: 84%;
}

.html-bar {
    width: 90%;
}

.css-bar {
    width: 85%;
}

.js-bar {
    width: 78%;
}

.services-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.service-box {
    padding: 20px;
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
    width: 260px;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-box:hover{
    background-color: #22225a;
}

.service-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}

.service-box .bx{
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
}

.service-box a{
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
}

.service-box:hover .bx{
    color: #22cf91;
}

.service-box:hover h3{
    color: #fff;
}

.service-box:hover a{
    color: #8b8a8f;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.portfolio-img{
    overflow: hidden;
    border-radius: 0.5rem;
}

.portfolio-img img{
    width: 100%;
    display: block;
    border-radius: 0.5rem;
}

.portfolio-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.contact-form{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.contact-form form input,textarea{
    padding: 15px;
    background-color: hsla(260, 100%, 44%, 0.1);
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
    outline: none;
}

.contact-form form input::placeholder,textarea::placeholder{
    color: var(--text-color);
}

.contact-form form textarea{
    resize: none;
}

.contact-form form .btn{
    background-color: #2768d9;
    border: none;
    align-self: center;
    width: 160px;
}

.contact-form form .btn:hover{
    background-color: var(--hover-color);
}

.footer{
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: #ebebed;
}

.footer h2{
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

.footer .footer-social i{
    color: rgb(10, 26, 208);
    background: #fff;
    margin-left: 10px;
    font-size: 25px;
    border-radius: 51%;
    padding: 8px;
}

.copyright{
    background-color: var(--main-color);
    padding: 20px;
    color: #fff;
    text-align: center;
}


/*Copy Paste*/
/* Making Responsive */
@media (max-width: 991px) {
    header {
      padding: 18px 4%;
    }
  
    section {
      padding: 50px 4%;
    }
  }
  
  @media (max-width: 881px) {
    :root {
      --big-font: 2.7rem;
      --medium-font: 1.4rem;
    }
  }
  
  @media (max-width: 768px) {
    :root {
      --big-font: 2.4rem;
      --medium-font: 1.2rem;
    }
  
    header {
      padding: 11px 4%;
    }
  
    #menu-icon {
      display: initial;
      color: var(--text-color);
    }
  
    header .navbar {
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
      transition: 0.2s ease;
      text-align: center;
    }
  
    .navbar.active {
      top: 100%;
    }
  
    .navbar a {
      padding: 1.5rem;
      display: block;
      background: var(--bg-color);
    }
  
    #darkmode {
      position: absolute;
      top: 1.4rem;
      right: 2rem;
    }
  
    .scroll-down {
      display: none;
    }
  
    .home {
      grid-template-columns: 0.5fr 3fr;
    }
  
    .home-text {
      grid-column: 1/3;
      padding-left: 1.4rem;
    }
  
    .home-img {
      order: initial;
    }
  
    .about-container {
      grid-template-columns: 1fr;
    }
  
    .about-img {
      display: flex;
      justify-content: center;
    }
  
    .skills-container {
      grid-template-columns: 1fr;
    }
  
    .skills-img img {
      padding-left: 0;
    }
  
    .skills-img {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
    }
  
    .contact-form form {
      width: 300px;
    }
  
    .contact-button {
      margin-left: 25%;
    }
  }
  
  @media (max-width: 340px) {
    :root {
      --big-font: 1.7rem;
      --medium-font: 1.1rem;
    }
  
    .home-text span {
      font-size: 1rem;
    }
  
    .home-text h2 {
      font-size: 0.9rem;
      font-weight: 500;
    }
  
    .information .info-box span {
      font-size: 1rem;
    }
  
    .portfolio-content {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
  
    .contact-form form {
      width: 300px;
    }
  
    .contact-button {
      margin-left: 25%;
    }
  }


















